name: Run tests and linting
on:
  push:
    branches:
      - "main"
      - "develop"
  pull_request:
  workflow_dispatch:
jobs:
  test:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: ["ubuntu-latest", "windows-latest", "macos-latest"]
        php-versions: ["7.4", "8.0", "8.1"]
    steps:
      - name: Disable autocrlf to ensure linux linebreaks on windows
        run: git config --global core.autocrlf false

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}

      - name: Install dependencies
        run: composer install

      - name: Run linting
        run: composer run-script lint

      - name: Run tests
        run: composer run-script test
